body {
  background-color: blueviolet;
  color: rgb(0, 255, 251);
  font-family: sans-serif;
}

h1 {
  font-family: "Papyrus", sans-serif;
  font-size: 50px;
}

h2,
ul {
  font-family: "Comic Sans MS", sans-serif;
}
